@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #93cf91;
  --secondery: #161a15;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #161a15;
    --foreground: #ededed;
  }
}

body {
  color: var(--secondery);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.mainContent {
  padding-top: 80px;
  height: auto;
  width: fit-content;
  overflow: visible;
}
.btn-primary {
  margin-top: 20px;
  background-color: #93cf91;
  border: none;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #93cf91;
}

.headingText {
  color: green;
}

.primaryText {
  color: #161a15;
}

.secondaryText {
  color: #ededed;
}
