.mealSelection {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  background-position: center;
}

.FormCard {
  padding: 20px;
}

.FormcardTitle {
  color: antiquewhite;
  align-items: center;
  padding-left: 40px;
}
