.cardDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  overflow: visible;
  padding-left: 20px;;
}

.cardDisplay > div {
  padding: 20px;
  margin: 50px;
}

.card-title {
  color: rgb(76, 170, 76);
}

.card-body > p {
  color: white;
}
